doctype html
html
	head
		title= title
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/convert.js")
		script(src="/javascripts/socket.js")
		script(src="/javascripts/paper.js")

	body(style="padding:0;margin:0")
		block content
