.task-container
{
  width: 80%;
  margin : 30px;
  color: grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 10px black;
}
.task-container h4
{
  color: black;
  font-size : 20px;
  font-weight: bold ;
  text-align: center;
  padding:15px;
  background-color: burlywood;
  box-shadow: 2px 2px 10px black;
  font-family: serif
}
.taskdetails
{
  display: block;
  opacity: 1;
  top: 10%;
  margin-left: 1%;
  width : 70 px;  
}
.class-stream h2
{
  background : rgb(61, 23, 23);
  opacity: 0.8;
  color: burlywood;
  font-weight: bold;
  font-family: serif;
  width: 100%;
  font-size : 24 px;
  padding : 3px ;
  height: 40px;

}
.class-stream
{
  width : 100%;
  margin-top : 10%;
  font-family: sans-serif;
  letter-spacing: 1px ;
}
.task-container h5
{
  text-align: center;
  color: grey;
  font-size: 15px;
  padding : 30px;
}
.task-container h6
{
  text-align: left;
  color: grey;
  font-size: 10px;
  padding : 30px;
}
.column{
  width: 100%;
}
.taskdetails .fa
{
  cursor: pointer;
  background-color: white;
  color: grey;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding : 7px;
  margin: 5%;
  margin-top:200%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 10px black;
}
.taskdetails .btn-primary
{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  
}